@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.checkTitle {
  @include font-caption;
  color: font-color(regular);
  text-align: center;

  margin-bottom: 4 * $grid-unit;
}

.installButton {
  width: 29 * $grid-unit;
}

.cancelButton {
  width: 17 * $grid-unit;
}
