@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  padding: 8 * $grid-unit;
}

.title {
  @include font-title;
  color: font-color(light);

  margin-bottom: 2 * $grid-unit;
}

.description {
  @include font-small;
  color: font-color(regular);

  margin-bottom: 4 * $grid-unit;
}

.installButton {
  width: 18 * $grid-unit;
}

.cancelButton {
  width: 14 * $grid-unit;
}
