@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  display: flex;
  height: 5 * $grid-unit;
  background-color: palette(base, 900);
  padding: 0 2 * $grid-unit 0 $grid-unit;
  white-space: nowrap;
}

.right {
  display: flex;
}

.formSearch {
  input {
    background-color: transparent;
    border: transparent;
  }
}

.nServers {
  @include font-small;
  color: font-color(regular);

  margin-right: 2 * $grid-unit;
}

.user {
  @include font-button;
  color: font-color(lowlight);

  margin-left: 2 * $grid-unit;
}
