@import '~kwc/styles/borders';
@import '~kwc/styles/mixins';

@mixin circle($color, $size: $grid-unit) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $color;
}

@mixin circle-before($color) {
  position: relative;

  &:before {
    @include circle($color);

    content: '';
    position: absolute;
    left: 0;
    top: 7px;
  }
}

@mixin make-triangle($base, $color) {
  width: 0;
  height: 0;
  border: 0px solid transparent;
  border-bottom-color: $color;
  border-bottom-width: $base;
  border-left-width: $base / 2;
  border-right-width: $base / 2;
}
