@import 'Styles/colors';
@import 'Styles/variables';
@import 'Styles/mixins';

.bg {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;

  &.active:hover {
    cursor: pointer;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content {
  margin: auto;
  height: 100%;
  background-color: palette(base, 800);
  padding: 8 * $grid-unit 0 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: $column-page-content-width;
  overflow: auto;

  .subtitle {
    margin-top: 2 * $grid-unit;
    width: 38 * $grid-unit;
    text-align: center;
  }

  .children {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4 * $grid-unit 4 * $grid-unit 2 * $grid-unit 4 * $grid-unit;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}
