@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.titleSection {
  display: flex;
  align-items: center;
  white-space: nowrap;

  .title {
    @include font-caption;
    color: font-color(light);
  }

  .action {
    margin-left: 2 * $grid-unit;
    height: 28px !important;
  }
}

.subtitle {
  @include font-caption;
  color: font-color(regular);

  margin: 0;
}

.clusters {
  display: flex;
  flex-wrap: wrap;
  margin: 3 * $grid-unit 0 4 * $grid-unit 0;
}
