@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  height: 100%;
}

.repositories {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  width: 550px !important;
  margin: 7 * $grid-unit 0 0 0;
  height: 100%;
  max-height: 600px;
  max-width: 500px;

  .repository {
    pointer-events: auto;
  }
}
