@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  padding: 0 12 * $grid-unit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  @include font-small;
  color: font-color(lowlight);
  text-align: center;

  margin-top: -3 * $grid-unit;
}

.buttons {
  margin-top: 4 * $grid-unit;
}

.buttons > a:first-child > div {
  margin-bottom: $grid-unit;
}

.retry {
  display: flex;
  div {
    height: 30px !important;
  }
}
