@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  width: 100%;
  padding: 0 11 * $grid-unit;

  .formClusterName {
    margin-top: 4 * $grid-unit;
  }

  .formClusterUrl {
    width: 100%;
    margin-top: 2 * $grid-unit;
  }
}

.loader {
  margin: auto;
  width: fit-content;
}
