@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  width: 100%;
  padding: 8 * $grid-unit;

  .formClusterName {
    margin-top: 4 * $grid-unit;
  }

  .formClusterUrl {
    width: 100%;
    margin-top: 2 * $grid-unit;
  }
}

.title {
  @include font-title;
  color: font-color(light);

  margin-top: 0;
}
.subtitle {
  @include font-small;
  color: font-color(regular);
}

.connectButton {
  width: 18 * $grid-unit;
}

.cancelButton {
  width: 12 * $grid-unit;
}

.loader {
  margin: auto;
  width: fit-content;
}
