@import 'Styles/colors';
@import 'Styles/mixins';
@import 'Styles/borders';
@import 'Styles/shadows';

$color-bg: palette(base);

.container {
  @include font-button;
  color: font-color(lowlight);
  text-align: center;

  position: relative;
  line-height: 5 * $grid-unit;
  height: 5 * $grid-unit;
  padding: 0 1.5 * $grid-unit;
  cursor: pointer;
  z-index: 2;

  transition: color ease 0.4s;

  &:hover {
    color: font-color(light);

    .arrow {
      border-color: white;
    }
  }

  &:active {
    box-shadow: none;
  }

  &:after {
    @include arrow(white);

    position: absolute;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    right: 14px;
    top: 14px;
    content: '';
    transition: transform ease 0.3s, top ease 0.3s;
  }

  &.is-open:after {
    transform: rotate(45deg) scale(-1);
    top: 17px;
  }
}

.label {
  display: flex;
  flex-direction: row;
  padding: 0 2.5 * $grid-unit;
  user-select: none;
}

.options {
  @include shadow(4);

  transition: max-height ease 0.3s;
  overflow: hidden;
  background-color: $color-bg;
}

.logoutMessage {
  @include font-body;
  color: font-color(lowlight);
  white-space: initial;
  text-align: left;
}
