@import 'Styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .actionBar {
    width: 100%;
  }

  .content {
    margin-top: 8 * $grid-unit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .subtitle {
      margin-top: 2 * $grid-unit;
      width: 38 * $grid-unit;
      text-align: center;
    }

    .servers {
      display: flex;
      justify-content: space-between;
      pointer-events: none;
      height: 100%;
      width: 100%;

      .server {
        pointer-events: auto;
      }
    }
  }
}
