@import 'Styles/variables';

.clusters {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  height: 100%;
  margin-top: 4 * $grid-unit;

  .cluster {
    pointer-events: auto;
  }
}
