@import 'Styles/variables';

.clusters {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  height: 100%;

  .cluster {
    pointer-events: auto;
  }

  &:hover > .cluster:hover {
    transform: scale(1.05);
  }

  &:hover > .cluster:not(:hover) {
    transform: scale(0.95);
    opacity: 0.6;
  }
}
