@import 'Styles/colors';
@import 'Styles/mixins';
@import 'Styles/variables';

@function get-triangle-center($triangle-size, $inner-triangle-size) {
  @return (4 * $triangle-size - $inner-triangle-size) / 6;
}

$size-t1: 24px;
$size-t2: 172px;
$size-t3: 216px;
$size-t4: 250px;
$size-tot: 151px;
.triangle {
  position: relative;
  cursor: pointer;

  user-select: none;
  height: $size-tot;
  width: $size-tot;

  &.down {
    transform: rotateX(180deg);
  }

  div {
    @include center;
    pointer-events: none;
  }

  .t3,
  .t4 {
    transition: font-size ease 0.3s, text-shadow ease 0.3s;
  }

  .t1 {
    font-size: $size-t1;
    top: get-triangle-center($size-tot, $size-t1);
    color: palette(base);
    -webkit-text-stroke: 1px palette(highlight);
    text-shadow: 0 0 10px palette(highlight, 800);

    transition: font-size ease 0.3s, text-shadow ease 0.3s;
  }

  .t2 {
    font-size: $size-t2;
    top: get-triangle-center($size-tot, $size-t2);
    color: transparent;
    background-color: palette(base, 900);
    background-clip: text;
    text-shadow: 0 0 4px palette(base, 700);

    transition: font-size ease 0.2s, background-color ease 0.3s;
  }
  .t3 {
    font-size: $size-t3;
    top: get-triangle-center($size-tot, $size-t3);
    color: transparent;
    -webkit-text-stroke: 1px palette(highlight);
    filter: drop-shadow(0px 0px 2px palette(highlight));
  }
  .t4 {
    font-size: $size-t4;
    top: get-triangle-center($size-tot, $size-t4);
    color: transparent;
    -webkit-text-stroke: 1px palette(feedback, 700);
    filter: drop-shadow(0px 0px 4px palette(highlight));
  }
}

.triangle:hover,
.hoverContainer:hover {
  .t4 {
    font-size: $size-t4 * 1.1;
  }
  .t3 {
    font-size: $size-t3 * 1.05;
  }
  .t2 {
    font-size: $size-t2 * 0.98;
    background-color: palette(highlight);
  }
  .t1 {
    text-shadow: 0 0 10px #fff, 0 0 20px palette(highlight),
      0 0 30px palette(highlight);
  }
}
