@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  height: 100%;
  background-color: palette(base, 600);

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  overflow: hidden;
}

.panels {
  @include glow(3, black);
  display: flex;
  overflow: hidden;
  height: 100%;
}

.content {
  flex-grow: 1;
  height: 100%;
}
