@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > div {
    margin-left: 2 * $grid-unit;
    &:not(:last-child):after {
      content: '/';
      margin-left: 2 * $grid-unit;
    }
  }
}
