@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.container {
  width: 27 * $grid-unit;
  height: 100%;
  padding: 0 4.5 * $grid-unit;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .title {
    @include font-body;
    color: font-color(light);

    height: 5 * $grid-unit;
    margin-top: 7 * $grid-unit;
  }

  .subtitle {
    @include font-small;
    color: font-color(regular);
  }

  .button {
    margin-top: 4 * $grid-unit;
    width: 100%;
  }
  &.selected {
    border: 1px solid palette(highlight);
  }
  &:nth-child(2) {
    margin-left: $grid-unit * 2;
  }
}
