@import 'Styles/colors';
@import 'Styles/mixins';
@import 'Styles/variables';

@function get-square-center($square-size, $inner-square-size) {
  @return (4 * $square-size - $inner-square-size) / 6;
}

$size-s1: 20.5px;
$size-s2: 72.1px;
$size-s3: 87px;
$size-s4: 103.4px;
$size-tot: 110px;
.square {
  position: relative;

  user-select: none;
  height: $size-tot;
  width: $size-tot;
  transform: rotateZ(45deg);

  transition: transform ease 0.3s;

  &.out.small {
    .s1 {
      top: 15%;
      left: 50%;
    }
  }
  &.out.medium {
    .s1 {
      top: -20%;
      left: 50%;
    }
  }

  div {
    @include center;
    pointer-events: none;
  }

  &.small > .s1 {
    width: $size-s1 / 2;
    height: $size-s1 / 2;
  }
  &.small > .s2 {
    width: $size-s2 / 2;
    height: $size-s2 / 2;
  }
  &.small > .s3 {
    width: $size-s3 / 2;
    height: $size-s3 / 2;
  }
  &.small > .s4 {
    width: $size-s4 / 2;
    height: $size-s4 / 2;
  }

  &.medium > .s1 {
    width: $size-s1;
    height: $size-s1;
  }
  &.medium > .s2 {
    width: $size-s2;
    height: $size-s2;
  }
  &.medium > .s3 {
    width: $size-s3;
    height: $size-s3;
  }
  &.medium > .s4 {
    width: $size-s4;
    height: $size-s4;
  }

  .s3,
  .s4 {
    transition: width ease 0.3s, height ease 0.3s, box-shadow ease 0.3s;
  }

  .s1 {
    background-color: palette(base, 900);
    border: solid 1px palette(highlight, 700);
    box-shadow: 0 0 5px palette(highlight, 800);

    transition: width ease 0.3s, height ease 0.3s, box-shadow ease 0.3s,
      transform ease 0.5s, top ease 0.5s, left ease 0.5s,
      background-color ease 0.3s;
  }

  .s2 {
    background-color: palette(base);
    box-shadow: inset 0 0 6px palette(base, 900);

    transition: width ease 0.3s, height ease 0.3s, box-shadow ease 0.3s,
      background-color ease 0.3s;
  }
  .s3 {
    border: solid 1px palette(highlight, 600);
    box-shadow: 0 0 6px palette(highlight, 700),
      inset 0 0 20px palette(feedback, 900);
  }
  .s4 {
    border: solid 1px palette(highlight, 800);
    box-shadow: 0 0 10px palette(highlight, 900);
  }
}

.hoverContainer {
  pointer-events: all;
}

.square.notAnimate {
  pointer-events: none;
}

.square:hover,
.hoverContainer:hover {
  .square {
    transform: scale(1.1) rotateZ(45deg);

    &.out {
      transform: scale(1.1) rotateZ(45deg);

      .s1 {
        top: -35%;
        transform: rotateZ(-4500deg);
      }
    }
  }

  .small > .s4 {
    width: ($size-s4 / 2) * 1.1;
    height: ($size-s4 / 2) * 1.1;
  }
  .medium > .s4 {
    width: $size-s4 * 1.1;
    height: $size-s4 * 1.1;
  }

  .small > .s3 {
    width: ($size-s3 / 2) * 1.05;
    height: ($size-s3 / 2) * 1.05;
  }
  .medium > .s3 {
    width: $size-s3 * 1.05;
    height: $size-s3 * 1.05;
  }

  .small > .s2 {
    width: ($size-s2 / 2) * 0.98;
    height: ($size-s2 / 2) * 0.98;
  }
  .medium > .s2 {
    width: $size-s2 * 0.98;
    height: $size-s2 * 0.98;
  }

  .s1 {
    background-color: palette(highlight);
    transform: rotateZ(-4500deg);
  }

  .small {
    .s1 {
      top: 45%;
      left: 45%;
    }
    &.out {
      .s1 {
        top: 10%;
        left: 45%;
      }
    }
  }

  .medium > .s1 {
    top: calc(50% - #{$size-s1 / 2});
    left: calc(50% - #{$size-s1 / 2});
  }
}
