@import 'Styles/colors';
@import 'Styles/variables';
@import 'Styles/mixins';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 100%;

  video {
    opacity: 0.5;
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.content {
  height: 100%;
  width: 58 * $grid-unit;
  padding: 8 * $grid-unit 0 2 * $grid-unit 0;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  .subtitle {
    margin-top: 2 * $grid-unit;
    width: 38 * $grid-unit;
    text-align: center;
  }

  .children {
    padding: 4 * $grid-unit 0;
    width: 100%;
    height: 100%;
  }
}
