@import 'Styles/colors';
@import 'Styles/mixins';

.levelIcon {
  @include font-code;
  text-align: center;

  &.ERROR,
  &.STARTED,
  &.STOPPED,
  &.ARCHIVED {
    width: $grid-unit;
    height: $grid-unit;
    border-radius: 50%;
    margin: auto;
  }

  &.ERROR {
    background-color: palette(error);
  }

  &.STARTED {
    background-color: palette(success);
  }

  &.STOPPED {
    background-color: palette(feedback);
  }

  &.ARCHIVED {
    background-color: palette(base, 400);
  }

  &.FAVORITE {
    color: font-color(light);
  }
}
