@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';
@import 'Styles/shadows';

.container {
  display: flex;
  align-items: center;
  border-right: solid 2px palette(base, 500);
}

.lastValues {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 5 * $grid-unit 0 4 * $grid-unit;
  background-color: palette(base, 900);

  transition: background-color ease 0.2s;

  .lastValue:not(:last-child) {
    margin-right: 3 * $grid-unit;
  }

  &.opened:after {
    transform: rotate(45deg) scale(-1);
    top: calc(50% - #{0.1 * $grid-unit});
  }

  &:hover {
    background-color: palette(base, 500);
  }

  &:after {
    content: '';
    position: absolute;
    right: 2 * $grid-unit;
    top: calc(50% - #{0.6 * $grid-unit});
    transform: rotate(45deg);
    width: 0.75 * $grid-unit;
    height: 0.75 * $grid-unit;
    border: solid 1px font-color(lowlight);
    border-left-color: transparent;
    border-top-color: transparent;

    transition: transform ease 0.4s, top ease 0.4s;
  }
}

.lastValue {
  display: flex;
  align-items: center;

  .value {
    @include font-small;

    margin-right: $grid-unit;
  }
  .label {
    @include font-caption;
    color: font-color(lowlight);
  }
}

.charts {
  @include shadow(3);
  display: flex;
  position: absolute;
  top: 5 * $grid-unit;
  left: 0;
  overflow: hidden;

  transition: height ease 0.5s, opacity ease 0.5s;

  height: 170px;
  opacity: 1;

  &.enter,
  &.exit,
  &.exitDone {
    height: 0;
    opacity: 0.4;
  }
  &.enterActive {
    height: 170px;
    opacity: 1;
  }
}
