@import 'Styles/colors';
@import 'Styles/mixins';

.window-appicon {
  background-size: 23px !important;
}

.titlebar {
  @include font-small;
  font-weight: 500;
}

.titlebar,
.menubar-menu-container,
.action-item,
.action-menu-item {
  background-color: palette(base, 400) !important;
  color: font-color(light) !important;
}

.action-item {
  .action-menu-item {
    cursor: pointer;

    &:hover {
      background-color: palette(base, 300) !important;
    }
  }

  .keybinding {
    color: font-color(regular);
  }

  &.disabled {
    .action-menu-item {
      cursor: default;
    }
  }
}

.menu-item-icon {
  margin: 0 !important;
}

.window-close-bg:hover {
  background-color: palette(error);
}
