@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.repositories {
  display: flex;
  pointer-events: none;
  max-height: 600px;
  max-width: 500px;

  .repository {
    pointer-events: auto;
  }
}

.errorMessage {
  color: palette(error);
}
