@import 'Styles/colors';
@import 'Styles/variables';
@import 'Styles/mixins';

.container {
  height: 100%;
  max-width: 700px;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 6 * $grid-unit;

  .title {
    @include font-subheader;

    margin-right: 4 * $grid-unit;
  }
}

.url {
  margin-bottom: 4 * $grid-unit;

  .urlTitle {
    @include font-caption;
    color: font-color(regular);
  }

  .urlContent {
    @include font-small;
    color: font-color(lowlight);
  }
}

.formUrlRow {
  display: flex;
  align-items: center;

  .formUrl {
    flex-grow: 1;
  }

  .test {
    width: 12 * $grid-unit;
    margin-left: 2 * $grid-unit;
  }
}

.formTestRow {
  display: flex;
  align-items: center;
  margin-bottom: 4 * $grid-unit;

  .testCheck {
    margin: 0 2 * $grid-unit;
  }

  .testCheckLabel {
    @include font-small;
    color: font-color(lowlight);

    margin: 0;
  }
}

.connectionError {
  @include font-small;
  color: palette(success);

  @include circle-before(palette(success));

  margin: 0 0 2 * $grid-unit 0;
  line-height: 3 * $grid-unit;
  padding-left: 2 * $grid-unit;
  overflow: hidden;
  height: 0;

  transition: height ease 0.4s, color ease 0.4s;

  &:before {
    transition: background-color ease 0.4s;
  }

  &.error {
    color: palette(error);

    &:before {
      background-color: palette(error);
    }
  }

  &.show {
    height: 3 * $grid-unit;
  }
}
