@import 'Styles/variables';
@import 'Styles/mixins';
@import 'Styles/colors';

.repositories {
  display: flex;
  pointer-events: none;
  max-height: 600px;
  max-width: 500px;

  .repository {
    pointer-events: auto;
  }
}

.errorMessage {
  @include font-small;
  text-align: right;
  color: palette(error);
  margin-right: 16 * $grid-unit;
}
